
.container {
    margin: 30px;
}

.navigation {
    margin-bottom: 50px;
}

.navigation > div {
   margin-bottom: 5px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    padding-bottom: 20px;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
}

.postDate {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.tmi {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}
